<!doctype html>
<html>
<head>
<title>AngularJS First Application</title>
    </head>
<body>
    <h1>Sample Application</h1>
    <div ng-app="">
        <p>Enter your Name: <input type="text" ng-model="name"></p>
        <p>Enter yoyr DOB: <input type="date" ng-model="name1"/></p>
        <p>Hello <span ng-bind="name"></span>!</p>
        <p>Hello <span ng-bind="name1"></span>!</p>
        @*<input type="button" ng-click="submit" />*@
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>