<!doctype html>
<html>
<head>
    <title>AngularJS First Application</title>      @*AngularJS application mainly relies on controllers to control the flow of data in the application.
                                                     A controller is defined using ng-controller directive. 
                                                          A controller is a JavaScript object that contains attributes/properties, and functions. *@
</head>
<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="" ng-controller="studentController">

        Enter first name: <input type="text" ng-model="student.firstName"><br><br>
        Enter last name: <input type="text" ng-model="student.lastName"><br>
        
        You are entering: {{student.fullName()}}<br /><br />
        
     

     

        
    </div>
    <script>
    function studentController($scope) {            @*The $scope refers to application which uses the studentController object.*@
        $scope.student = {                          //The $scope.student is a property of studentController object
            firstName: "ABC",
            lastName: "XYZ",
            fullName: function () {                 //The property fullName is the function of $scope.student object, which returns the combined name
                var studentObject;
                studentObject = $scope.student;
                return studentObject.firstName + " " + studentObject.lastName;
            }
        };
    }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>