<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example69-production</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>


</head>
<body ng-app="">
    
    <button ng-mousedown="count = count + 1" ng-init="count=0">
        Increment (on mouse down)
    </button>
    count: {{count}}<br />
    
    <button ng-mouseenter="count = count + 1" ng-init="count=0">
        Increment (when mouse enters)
    </button>
    count: {{count}}<br />
    
    <button ng-mouseleave="count = count + 1" ng-init="count=0">
        Increment (when mouse leaves)
    </button>
    count: {{count}}<br />
    
    <button ng-mousemove="count = count + 1" ng-init="count=0">
        Increment (when mouse moves)
    </button>
    count: {{count}}<br />

    <button ng-mouseover="count = count + 1" ng-init="count=0">
        Increment (when mouse is over)
    </button>
    count: {{count}}<br />

    <button ng-mouseup="count = count + 1" ng-init="count=0">
        Increment (on mouse up)
    </button>
    count: {{count}}<br />
    <p>ng-non-bindable</p>          @*The ngNonBindable directive tells Angular not to compile or bind the contents of the current DOM element. *@
    <div>Normal: {{1 + 2}}</div>
    <div ng-non-bindable>Ignored: {{1 + 2}}</div>
</body>
</html>